black==24.10.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
idna==3.10
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
requests==2.32.3
setuptools==75.1.0
tqdm==4.67.1
urllib3==2.3.0
wheel==0.44.0
