name: check

on:
  push:
    branches:
      - "**"
    paths:
      - ".github/workflows/check.yml"
      - "assets/**"
      - "**.py"
  pull_request:
    branches:
      - "**"
    paths:
      - ".github/workflows/check.yml"
      - "assets/**"
      - "**.py"
  workflow_dispatch:
env:
  res_base: "./assets/resource/base"
  res_bilibili: "./assets/resource/resource_bilibili"
  res_en: "./assets/resource/resource_en"
  res_glo: "./assets/resource/resource_glo"
  res_pc: "./assets/resource/resource_pc"

jobs:
  resource:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install maafw
        shell: powershell
        run: |
          python -m pip install --upgrade pip
          python -m pip install -U maafw

      - name: Check Resource
        run: |
          python ./check_resource.py ${{ env.res_base }} ${{ env.res_bilibili }} ${{ env.res_en }} ${{ env.res_glo }} ${{ env.res_pc }}
